
body{
	margin: 0px;
	background-color: rgb(233, 233, 233);
}

*{
	font-family: 'Poppins', sans-serif;

}


nav{
	background-color: #5fda7d;
	width: 926px;
	height: 40px;
	margin: 0px;
	position: relative;
	bottom: 4px;
	box-shadow: 0px 0px 8px #999;

}



#port{
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	margin: 0px;
	box-shadow: 0px 0px 8px #999;


}

ul{
	margin: auto;
	margin: 0px;
	list-style: none;
	position: relative;
	top: 10px;
}

ul li{
    display:inline-block;

}


#general{
	margin: auto;
	background-color: white;
	width: 926px;
	height: auto;
	box-shadow: 0px 0px 8px #999;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 50px;

}

li a{
	text-decoration: none;
	color: white;
	margin-left: 50px;
	font-size: 120%;
}

li a:hover{
	color: rgb(0, 59, 3);
	text-decoration: none;
}


hr{
	opacity: 0.5;
}





#comida{
	width: 250px;
	height: 100px;
	background-color: #efefef;
}

#comid{
	width: 530px;
	height: 230;
	margin-top: 20px;


}

#FOTOMENU{
	float: left;
	height: 150px;
	width: 150px;
	position: relative;
	top: 30px;
	margin-left: 30px;
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

li{
	list-style: none;
}

.dats{
	margin-top: 10px;
}

#NOMBREMENU{
	width: 250px;
	height: auto;
	word-wrap: break-word;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 30px;
}

#DESCRMENU{
	margin-top: 0px;
	font-size: 12px;
	width: 300px;
	height: auto;
	word-wrap: break-word;
}

#PRECIOMENU{
	margin-top: 10px;
}

#datc{
	position: relative;
	right: 20px;
}

div h1 strong{
	font-size: 40px;
}